@import url("https://fonts.googleapis.com/css?family=Outfit:regular,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Slate300: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);
}
body {
  padding: 1.72rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Slate300);
  font-family: "Outfit", sans-serif;
}
.card {
  width: 20rem;
  padding:1rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1.25rem;
  background-color: var(--White);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.content h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--Slate900);
}
.content p {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.0125rem;
  color: var(--Slate500);
}